@media (min-width: 1200px) {
    /*=========== utility class ===========*/
    .control {
        margin-bottom: 100px;
    }

    .section--padding__top {
        padding-top: 120px;
    }

    .section--padding__bottom {
        padding-bottom: 120px;
    }

    .mt-40 {
        margin-top: 100px;
    }

    .mb-40 {
        margin-bottom: 100px;
    }

    /*=========== layout ===========*/
    .container {
        max-width: 1140px;
    }

    .title {
        font-size: 2rem;
        margin-bottom: 25px;
    }

    .lead {
        font-size: 1.4rem;
    }

    /*=========== .section ===========*/
    .pricing-features li {
        width: 20%;
    }
}