* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue:         #00b4ff;
    --cadetblue:    #7dafd7;
    --namekblue:    #00adf5;
    --teal:         #3ECF8E;
    --namekteal:    #30c381;
    --white:        #fff;
    --dark:         #47495a;
    --darkblue:     #98a0aa;
    --darkmono:     #5d6077;
    --darkmojo:     #6b7c93;
    --oceanblue:    #1a65b4;
    --blackjack:    #333;
    --gray:         #e0e0e0;
    --light:        #e6f0f7;

    --gutter:       30px;
    --border-radius: 4px;
    --card-border-radius: 6px;
    --shadow: 0 4px 9px 0 rgba(23, 28, 33, 0.06);

    --font-primary: "Open Sans", Helvetica, Arial, sans-serif;
    --font-secondary: "Montserrat", Helvetica, Arial, sans-serif;
    --font-icon: "iconsmind";

    --z-index-header: 999;
    --z-index-pricing: 99;
}

body {
    font-family: var(--font-primary);
    font-size: 1rem;
    line-height: 1.6;
    color: var(--darkmojo);
    position: relative;
}

a, a:hover, a:active {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    border: none;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-secondary);
    font-weight: 700;
    color: var(--dark);
}

h3 {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 15px;
    
}

h4 {
    font-size: 1.25rem;
    line-height: 1.4;
    margin-bottom: 10px;
}

/*=========== utility class ===========*/
.filter-white {
    filter: brightness(0) invert(1);
}

.control {
    display: block;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.text-white {
    color: var(--white);
}

.text-center {
    text-align: center;
}

.title {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 10px;
}

.lead {
    font-size: 1.25rem;
    line-height: 1.25;
    margin-bottom: 20px;
}

/*=========== layout ===========*/
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 calc(var(--gutter) / 2);
}

.row {
    margin: 0 calc(var(--gutter) / -2);
    display: flex;
    flex-wrap: wrap;
}

[class^="col-"] {
    width: 100%;
    padding: 0 calc(var(--gutter) / 2);
}

.col {
    flex: 0 0 50%;
    max-width: 50%;
}

.row > .col {
    flex: 1;
}

/*=========== buttons ===========*/
.btn {
    display: inline-block;
    border-radius: var(--border-radius);
    padding: 12px 40px;
    transition: 0.2s all ease-in;
    font-family: "Open Sans";
    font-size: 0.8rem;
    color: var(--white);
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.btn--blue {
    background-color: var(--blue);
}

.btn--blue:hover {
    background-color: var(--namekblue);
}

.btn--teal {
    background-color: var(--teal);
}

.btn--teal:hover {
    background-color: var(--namekteal);
}

/*=========== header ===========*/
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: var(--z-index-header);
    background-color: var(--white);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.04);
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0;
}

.navbar__brand img {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    width: auto;
}

.navbar__toggler {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    align-self: center;
    position: relative;
    display: block;
    width: 50px;
    height: 34px;
    border: 1px solid var(--darkblue);
    border-radius: var(--border-radius);
}

.navbar__toggler span {
    display: block;
    width: 50%;
    height: 2px;
    background-color: var(--darkblue);
    margin-left: auto;
    margin-right: auto;
}

.navbar__toggler span::before,
.navbar__toggler span::after {
    position: absolute;
    display: block;
    content: '';
    width: 50%;
    height: 2px;
    background-color: var(--darkblue);
    left: 50%;
    transform: translateX(-50%);
}

.navbar__toggler span::before {
    top: 8px;
}

.navbar__toggler span::after {
    bottom: 8px;
}

.navbar__toggler.active span {
    transform: rotate(45deg);
}

.navbar__collapse {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar__toggler:focus+.navbar__collapse {
    display: block;
    flex-basis: 100%;
    flex-grow: 1;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
}

.nav-link {
    font-weight: bold;
    font-size: 0.8rem;
    color: var(--darkmono);
    display: block;
    padding: 0.5rem 0;
}

.nav-action {
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--blue);
    border: 2px solid var(--blue);
    padding: 5px 25px;
    margin-top: 0.5rem;
    border-radius: var(--border-radius);
}

/*=========== .section ===========*/
.section--padding__top {
    padding-top: 60px;
}

.section--padding__bottom {
    padding-bottom: 60px;
}

.section--gradient__ruby {
    background: radial-gradient(ellipse farthest-side at 100% 100%, #ffb29b 10%, #e56699 30%, #341e7e 109%);
}

.section--gradient__silver {
    background: linear-gradient(-180deg, #f2f7fb 60%, #FFFFFF 100%);
}

.section--gradient__sapphire {
    background: linear-gradient(to right bottom, #131c47, #192152, #474c9a, #ac93d2);
}

/*=========== #hero-content ===========*/

#hero-content {
    position: relative;
    height: 800px;
    overflow: hidden;
    text-align: center;
    color: var(--white);
    padding-top: 120px;
}

#hero-content h1 {
    font-size: 1.75rem;
    line-height: 1.4;
    color: var(--white);
    margin-top: 0 20px;
    margin-bottom: 20px;
}

#hero-content p {
    color: rgba(255, 255, 255, 0.85);
}

#hero-content a {
    margin-top: 1.5rem;
}

#hero-content a i {
    margin-left: 0.5rem;
}

#hero-content img {
    max-width: 180%;
    transform: translate(-25%, 5%);
}

/*=========== #pricing ===========*/
#pricing {
    position: relative;
    background: linear-gradient(-180deg, #f2f7fb 60%, #FFFFFF 100%);
    z-index: var(--z-index-pricing);
}

.pricing-card {
    background-color: var(--white);
    box-shadow: var(--shadow);
    border-radius: var(--card-border-radius);
    padding: 40px 30px;
    text-align: center;
    transform: scale(1);
    position: relative;
    margin-top: 0;
    margin-bottom: 40px;
}

#pricing .col-lg-4:first-child .pricing-card {
    margin-top: -100px;
}

.pricing-card h5 {
    color: var(--dark);
}

.pricing-card__header::after {
    content: "";
    display: block;
    max-width: 50%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--gray);
}

.pricing-value {
    font-family: var(--font-secondary);
    color: var(--dark);
}

.pricing-currency {
    font-size: 1.15rem;
    display: inline-block;
    transform: translateY(-30px);
}

.pricing-cost {
    font-size: 3.75rem;
}

.pricing-period {
    opacity: 0.6;
    font-size: 1.15rem;
    font-weight: normal;
}

.pricing-card__footer p {
    margin-top: 1.5rem;
    margin-bottom: 0.25rem;
}

.pricing-card__footer a {
    margin-top: 1.5rem;
    width: 75%;
}

.card-ribbon {
    position: absolute;
    right: -6px;
    top: -6px;
    width: 120px;
    height: 120px;
    overflow: hidden;
    z-index: 1;
}

.card-ribbon span {
    position: absolute;
    top: 24px;
    right: -28px;
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--white);
    text-transform: uppercase;
    line-height: 28px;
    width: 130px;
    display: block;
    transform: rotate(45deg);
    background: linear-gradient(var(--teal) 0%, var(--teal) 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.3);
}

.card-ribbon span::before,
.card-ribbon span::after {
    position: absolute;
    top: 100%;
    border: 3px solid transparent;
    content: "";
    z-index: -1;
}

.card-ribbon span::before {
    left: 0;
    border-left-color: var(--teal);
    border-top-color: var(--teal);
}

.card-ribbon span::after {
    right: 0;
    border-right-color: var(--teal);
    border-top-color: var(--teal);
}

.pricing-features {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.pricing-features li::before {
    font-family: var(--font-icon);
    content: "\ee1e";
    color: var(--teal);
    font-weight: bold;
    margin-right: 0.5rem;
}

.pricing-features li {
    margin-top: 1.25rem;
}

/*=========== #tour ===========*/
.tab-list {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.tab-list li {
    border-bottom: 1px solid var(--light);
    position: relative;
}

.tab-list li.active {
    border-bottom-color: var(--blue);
}

.tab-list li.active::before,
.tab-list li.active:after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 0;
    width: 0;
    border: 10px solid transparent;
    content: "";
}

.tab-list li.active::before {
    bottom: -1px;
    border-bottom: 7px solid var(--white);
    z-index: 1;
}

.tab-list li.active::after {
    bottom: 0;
    border-bottom: 7px solid var(--blue);
}

.tab-list li.active span {
    color: var(--darkmojo);
}

.tab-list li.active i,
.tab-list li.active span {
    color: var(--blue);
}

.tab-list li:hover i,
.tab-list li:hover span {
    color: var(--blue);
}

.tab-list a {
    position: relative;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.tab-list i {
    display: none;
    color: var(--cadetblue);
}

.tab-list span {
    color: var(--darkmojo);
}

.tab-content {
    margin-top: 60px;
}

.tab-panel {
    display: none;
}

.tab-panel.show {
    display: block;
}

.tab-panel p:not(.lead) {
    margin-bottom: 20px;
}

.tab-panel p:not(.lead):last-child {
    margin-bottom: 0;
}

/*=========== #services ===========*/
#services .container {
    transform: translateY(40px);
}

#services .lead {
    color: rgba(255, 255, 255, 0.85);
}

.card-feature {
    padding: 30px;
    background: var(--white);
    box-shadow: var(--shadow);
    border-radius: 6px;
}

#services .row .col-lg-6:first-child .card-feature {
    margin-bottom: 20px;
}

.card-feature i {
    font-size: 2.5rem;
    color: var(--blue);
}

.card-feature h4 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-feature li {
    padding: 4px;
}

.card-feature li::before {
    font-family: var(--font-icon);
    content: "\ee1e";
    color: var(--teal);
    font-weight: bold;
    margin-right: 0.5rem;
}

/*=========== #app ===========*/
#app a {
    margin-top: 25px;
}

#app img {
    max-width: 90%;
}